{% extends 'contas/base.html' %}

{% load staticfiles bootstrap3 %}
{% bootstrap_javascript jquery=1 %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/signin.css" %}" >
{% endblock %}

{% block content %}

<h3>CADASTRO</h3>
<div class="form-content" style="clear: both">
  {% bootstrap_messages %}
  <form class="form-horizontal text-left" action="{% url "signin" %}" method = 'POST'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}

      <div class="col-sm-6 col-sm-offset-3 text-center">
        <button class="btn btn-primary" type="submit">Cadastrar</button>
      </div>
    {% endbuttons %}
  </form>
</div>
          
{% endblock %}
