{% extends 'contas/base.html' %}

{% load staticfiles bootstrap3 %}

{% block extrastyle %}
  <link rel="stylesheet" type="text/css" href="{% static "styles/signin.css" %}" >
{% endblock %}

{% block content %}

<div class="row page-wrap">
  <div class="col-md-2 col-md-offset-5">
    <h3 class="text-center">Login</h3>
    <hr class="star-light">
    <div class="form-content">
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      <form class="form-horizontal" action="{% url 'login' %}" method = 'POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        {% endbuttons %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
