<html>
    {% load static %}
    {% load bootstrap3 %}
    {% load i18n %}
    <head>
    <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Contas</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap -->
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static "static/fonts/font-awesome/css/font-awesome.css" %}" >

        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css"  href="{% static "/static/css/style.css" %}" >
        <link rel="stylesheet" type="text/css"  href="{% static "static/css/base.css" %}" >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

        <script type="text/javascript" src="{% static "static/js/pt-br.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{% static "static/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "static/js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "static/js/moment-with-locales.js" %}"></script>

    </head>
    <body>
        <div id="menu">
        {% if user.is_authenticated %}
            <nav class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar"><br>
              <div class="w3-container w3-row">
                <div class="w3-col s4">
                  <img src="" class="w3-circle w3-margin-right" style="width:50px">
                </div>
                <div class="w3-col s8 w3-bar">
                    <span>{% trans "Welcome" %}, {{ user.first_name }} <strong></strong></span><br>
                  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
                </div>
              </div>
          <hr>

              <div class="w3-bar-block">
                <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
                <a href="{% url "statement" id_type=1 %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>{% trans "Outcome" %}</a>
                <a href="{% url "statement" id_type=2 %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>{% trans "Income" %}</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>{% trans "Transations" %}</a>
                <a href="{% url "category" %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>{% trans "Categories" %}</a>
                <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>{% trans "Family" %}</a>
                <a href="{% url "logout" %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>{% trans "Logout" %}</a>
             </div>
        </nav>
        {% else %}
            <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Contas</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
                 </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url "signin" %}">Sign In</a></li>
                      <li><a href="{% url "login" %}">Login</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
                
        {% endif %}
        </div>
        <div id="content-wrapper" class="col-md-3 col-md-offset-3">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </body>

</html>
