<html>
    {% load static %}
    {% load bootstrap3 %}
    <head>
    <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brainstorm - Reforço Inteligente</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap -->
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}" >

        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}" >
        <link rel="stylesheet" type="text/css"  href="{% static "css/base.css" %}" >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>

    </head>
    <body>
        <div id="menu">
            <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
      <div class="w3-container w3-row">
        <div class="w3-col s4">
          <img src="" class="w3-circle w3-margin-right" style="width:50px">
        </div>
        <div class="w3-col s8 w3-bar">
          <span>Bem Vindo, <strong></strong></span><br>
          <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
          <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
          <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
      </div>
      <hr>

      <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>Despesa</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>Receita</a>
        <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-book fa-fw"></i>Transações</a>
     </div>
    </nav>

        </div>
        <div id="content-wrapper" class="col-md-3 col-md-offset-4">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </body>

</html>
