<html>
    {% load static %}
    {% load bootstrap3 %}
    <head>
    <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Brainstorm - Reforço Inteligente</title>

        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap -->
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}" >

        <!-- Stylesheet -->
        <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}" >
        <link rel="stylesheet" type="text/css"  href="{% static "css/base.css" %}" >

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>

    </head>
    <body>
        <div id="menu">

        </div>
        <div id="content-wrapper">
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </body>

</html>
