{% extends 'contas/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load l10n %}
{% load i18n %}
{# Load CSS and JavaScript #}
{% load static %}

{% block content %}
      <script type="text/javascript">
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ["Element", "Density", { role: "style" } ],
              {% for d, t, c in list_st %}
              ["{{d}}", {{t|unlocalize }}, "{{c}}"],
              {% endfor %}
          ]);

          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                           { calc: "stringify",
                             sourceColumn: 1,
                             type: "string",
                             role: "annotation" },
                           2]);

          var options = {
            title: "{% trans "Income x Outome" %}",
            width: 500,
            height: 300,
            bar: {groupWidth: "50%"},
            legend: { position: "none" },
            titleTextStyle: {
                    fontSize: 25},
          };
          var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
          chart.draw(view, options);
      }
    </script>
      
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawPieChart);

      function drawPieChart() {

        var data = google.visualization.arrayToDataTable([
          ['Category', 'Value'],
          {% for d, t in list_ct %}
              ["{{d}}", {{t|unlocalize}}],
          {% endfor %}
        ]);

        var options = {
            title: '"{% trans "Outcome by Category" %}"',
            width: 500,
            height: 300,
            titleTextStyle: {
                    fontSize: 25},
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

    <h2>{% trans "Dashboard " %}{% trans month %}</h2>
    <div class="container">
        <div class="row top-row">
            <div class="col-xs-5">
                <div id="columnchart_values"></div>
            </div>
            <div class="col-xs-4">
                <div id="piechart"></div>
            </div>
        </div>
        <div class="row top-row">
            <div class="col-xs-8">
                <div id="curve_chart"></div>
            </div>
        </div>

    </div>
{% endblock %}
